#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDI_ICON1		ICON		"assets/icon.ico"
GLFW_ICON		ICON		"assets/icon.ico"
// UI_BG			CUSTOMDATA	"assets/images/bg.png"
// UI_BUTTON		CUSTOMDATA	"assets/images/button_large.png"
// UI_CHECKBOX		CUSTOMDATA	"assets/images/checkbox.png"
// UI_ICON_MODDED	CUSTOMDATA	"assets/images/icon_modded.png"
// UI_ICON_EAC		CUSTOMDATA	"assets/images/icon_vanilla.png"
// UI_LOGO			CUSTOMDATA	"assets/images/launcher_logo.png"
// UI_CLOSE		CUSTOMDATA	"assets/images/windowbutton_close.png"
// UI_MINIMIZE		CUSTOMDATA	"assets/images/windowbutton_minimize.png"
UI_FONT			CUSTOMDATA	"assets/fonts/Barlow-Regular.ttf"
